@model CategoryVM
@{
    ViewBag.Title = "AddCategory";
}

<style>
    .field-validation-error{ color:red; }
</style>

<div class="jumbotron">
    <h2>Kategori ekleme sayfası</h2>
</div>

@using(Html.BeginForm())
            {
                <div>
                    @Html.TextBoxFor(x => x.Category.CategoryName, new {placeholder = "Kategori ismi", @class = " form-control"})
                </div>
                <br />
                <div>
                    @Html.ValidationMessageFor(x => x.Category.CategoryName)
                </div>
                <br /><br />
                <div>
                    @Html.TextBoxFor(x => x.Category.Description, new { placeholder = "Açıklama", @class = "form-control"})
                </div>
                <br />
                <div>
                    @Html.ValidationMessageFor(x => x.Category.Description)
                </div>
                <br />
                <div>
                    <button class="btn btn-success">Ekle</button>
                </div>
            }

